<div class="tabContainer {% if showTopBdr %}showTopBdr{% endif %}">
  <h2 class="tabHeading {{ headingPreset }}">
    {{ tabHeading }}
    <span class="tabIcon"></span>
  </h2>
  <div class="tabContent {{ contentPreset }}">
    {{ tabContent }}
  </div>
</div>
