<div class="quickAddBtnContainer">
  {% if product.available %}
    <form class="customForm">
      <input
        class="variant-selection__variants variant-selection__variants--default"
        name="id"
        type="hidden"
        value="{{ selected_variant.id }}"
        data-variants
      >
      <button
        type="submit"
        name="add"
        class="button quickAddBtn {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %} customQuickAddBtn {% endif %}action_button button--add-to-cart "
        data-label="{{ add_to_cart_label | json }}"
      >
        ADD
        {% if settings.button_cart_icon != blank and settings.button_cart_icon_position == 'right' %}
          {% render 'icon', name: settings.button_cart_icon, icon_class: 'icon--cart icon--right' %}
        {% endif %}
        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
          <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
        </svg>
      </button>

      <div class="cart-warning"></div>
    </form>
  {% else %}
    <button class="button soldOutBtn" type="button">Sold Out</button>
  {% endif %}
</div>
