/* common css code start  */
.hideScroll,
body.hideScroll {
    overflow: hidden !important;
}

html,
body {
    scroll-behavior: smooth;
}

html.enableScroll,
body.enableScroll {
    overflow: visible !important;
}

.is-width-standard {
    width: 100%;
    margin: 0px auto !important;
    max-width: 100% !important;
    padding: 0 75px !important;
}

.is-width-small {
    width: 100% !important;
    margin: 0px auto !important;
    max-width: 764px !important;
    padding: 0 12px !important;
}

.caption.is-justify-center.is-align-center {
    padding: 0 75px !important;
    max-width: 1440px !important;
    margin: 0 auto !important;
    width: 98% !important;
}


img.boxImg {
    width: 100%;
    height: auto;
    display: block;
}

/* common css code end  */
/* Intro popup css code start  */
.shopify-section.customOpeningPopup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    transition: all ease-out .5s;
    transform: translateY(0);
}

.openingPopupTxtAndBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

a.popupLogoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
}

.openingPopupContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.customOpeningPopupSe {
    width: 100%;
}

.bottomLeftFloatingIcon {
    position: absolute;
}

.bottomLeftFloatingIcon {
    left: 34px;
    position: absolute;
    width: 316px;
    bottom: 54px;
}

.customOpeningPopupSec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

h1.popupHeadingTxt {
    margin-bottom: 40px;
}

.popupBtnsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.popupBtn.button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 190px;
    min-height: 48px;
    max-width: 100%;
    width: max-content;
    margin: 0 15px;
}

.bottomRightFloatingIcon {
    width: 138px;
    position: absolute;
    right: 88px;
    bottom: 60px;
}

.enableScroll .customOpeningPopup {
    transform: translateY(-200%);
}

/* Intro popup css code end  */

/* header css code start  */
.message-header {
    padding: 4px 16px;
}

a.navbar-link.header__link {
    padding: 0;
    margin: 0;
}

nav.header__menu-items .navbar-item.header__item {
    margin-right: 64px;
    position: relative;
}

nav.header__menu-items .navbar-item.header__item:last-child {
    margin-right: 0;
}

.navbar-link:not(.is-arrowless):after {
    opacity: 0;
}

.header__icons span.header-cart__icon,
.header__icons a.header__link.action-area__link span.icon.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.header__icons span.icon.header__icon svg {
    width: 100%;
    height: 100%;
}


.header__icons span.header-cart__icon span.icon.header__icon {
    width: 100%;
    height: 100%;
}

.header__icons a.header__link.action-area__link {
    padding-left: 0 !important;
    padding-right: 16px !important;
    flex-direction: row;
}

span.iconTxt {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-right: 8px;
}

.navbar-dropdown.navbar-dropdown--below-parent {
    min-width: 208px;
    left: 50%;
    top: 100%;
    padding: 30px 24px;
    transform: translateX(-50%);
}

.navbar-dropdown.navbar-dropdown--below-parent::before {
    content: "";
    height: 14px;
    width: 14px;
    background-color: #A12B2F;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
}

.navbar-dropdown.navbar-dropdown--below-parent a.navbar-item {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    font-family: "Arial-Narrow-Regular";
    margin-bottom: 20px;
    text-transform: capitalize;
    padding: 0;
}

.navbar-dropdown.navbar-dropdown--below-parent a.navbar-item:last-child {
    margin-bottom: 0;
}

.navbar {
    width: 100%;
    margin: 0px auto !important;
}

/* header css code end  */

/* home page section start  */
.caption {
    width: 98% !important;
    margin: 0px auto !important;
    padding: 20px;
    max-width: 100% !important;
    height: 100% !important;
}

.slideshow-classic__banner.columns.one-whole {
    width: 100% !important;
    margin: 0px auto !important;
}

.caption-content {
    padding: 0 !important;
}

.slideshow-classic ol.flickity-page-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0px auto;
    bottom: 32px;
    right: 32px;
    width: max-content;
    max-width: 100%;
    overflow: hidden;
}

ol.flickity-page-dots li.dot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border: 1px solid;
    opacity: 1;
    margin: 0 8px;
}

.caption-content .banner__subheading {
    margin-bottom: 8px;
}

.caption-content h2.banner__heading.title {
    margin-top: 0;
    margin-bottom: 24px;
}

.caption-content .buttons {
    flex-wrap: wrap;
    width: 100%;
    column-gap: 15px;
    row-gap: 15px;
}

.caption-content .buttons a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    min-height: 48px;
    min-width: 190px;
    max-width: 100%;
}

.caption-content .buttons a.button {
    line-height: 24px !important;
}

h2.slideshow-classic__heading.banner__heading.title.is-h1 {
    line-height: 77px;
}

.slideshow-classic__preheading.banner__subheading.is-h5.subheading {
    line-height: 29px;
}

.caption.is-justify-center.is-align-center.text-width-50 .caption-content.text-align-center {
    max-width: 630px !important;
    margin: 0px auto !important;
    width: 100% !important;
}

/* home page section end  */
/* footer section css code start  */
a.footer__logo-wrapper.has-padding-bottom.is-small {
    width: 160px;
    max-width: 160px;
    padding: 0;
}

ul.social-icons.is-flex.is-flex-wrap.is-justify-left {
    padding-left: 50px;
}

.has-padding-bottom.has-padding-top {
    padding: 24px 0;
}


ul.social-icons li {
    padding: 0 8px 0 0;
}

.footer__block.block__logo {
    text-align: center;
}

li.footer__menu-link {
    margin-bottom: 16px;
}

li.footer__menu-link.is-text {
    line-height: 24px;
}

p.footer__heading {
    margin-bottom: 16px;
}

.footer__block.block__newsletter .content {
    margin-bottom: 16px;
}

.newsletter-form.form.ftStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.newsletter-form.form.ftStyle .field {
    width: 100%;
    flex: 100%;
}

.newsletter-form.form.ftStyle button.iconBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: transparent;
    padding: 0;
    border: 0px solid !important;
    cursor: pointer;
    color: #fff;
}

.newsletter-form.form.ftStyle button.iconBtn svg {
    height: 20px;
    width: 20px;
}

.newsletter-form.form.ftStyle .field .control {
    width: 100%;
    margin: 0px auto !important;
}

.newsletter-form.form.ftStyle .field input.input.is-primary-btn-style {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.newsletter-form.form.ftStyle .field input.input.is-primary-btn-style::placeholder {
    color: #fff !important;
}

.newsletter-form.form.ftStyle .field.btnField {
    width: max-content !important;
    padding: 0 !important;
    min-width: 0 !important;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
}

.newsletter-form.form.ftStyle .field.is-stretched-width {
    margin: 0 !important;
}

/* footer section css code end  */

/* about us page css code start  */

.container.useCustomStyle {
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.useCustomStyle .image-with-text__image-column,
.useCustomStyle .image-with-text__text-column {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding: 0;
}

.useCustomStyle .image-with-text__text-column .image-with-text__wrapper {
    padding: 20px;
    width: 100%;
    max-width: 520px;
    margin: 0px auto;
}

h3.image-with-text__heading {
    padding: 0;
    margin-bottom: 24px;
}

.image-with-text__text p {
    margin-bottom: 16px;
}


.image-with-text__text p:empty {
    display: none;
}

.sectionInnerContainer {
    width: 100%;
    position: relative;
}

a.secBtn.button {
    min-height: 48px;
    min-width: 196px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 100%;
    margin: 40px auto 0 auto;
}

.iconWithTextSection .icon-with-text-column__column.one-fifth.medium-down--one-whole {
    width: calc(20% - 40px);
    padding: 0;
    margin-right: 48px;
    margin-left: 0;
    max-width: 191px;
    margin-bottom: 20px;
}

.iconWithTextSection .icon-with-text-column__column.one-fifth.medium-down--one-whole:nth-child(5n) {
    margin-right: 0;
}

h3.icon-column__title.title {
    margin-bottom: 16px;
}


.icon-with-text-column__column img {
    margin-bottom: 16px;
}


.icon-with-text-column__column .subtitle.content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.heading-wrapper--text-icons {
    margin-bottom: 56px;
}

/* about us page css code end  */



/* media query start  */
@media only screen and (max-width: 1380px) {

    .is-width-standard,
    .caption.is-justify-center.is-align-center {
        width: 100% !important;
        padding: 0 50px !important;
    }
}

@media only screen and (max-width: 991px) {

    .is-width-standard,
    .caption.is-justify-center.is-align-center {
        padding: 0 20px !important;
    }
}

@media only screen and (max-width: 798px) {

    .is-width-standard,
    .caption.is-justify-center.is-align-center {
        padding: 0 12px !important;
    }

    a.popupLogoLink {
        width: 120px;
        left: 12px;
        top: 12px;
    }

    h1.popupHeadingTxt {
        text-align: center;
        margin-bottom: 34px;
    }

    .openingPopupContainer {
        padding: 29px;
    }

    a.popupBtn.button {
        min-width: 156px;
        margin: 0 8px;
    }

    .bottomLeftFloatingIcon {
        width: 160px;
        left: 10px;
        bottom: 20px;
    }

    .bottomRightFloatingIcon {
        width: 77px;
        right: 28px;
        bottom: 31px;
    }

    .container.useCustomStyle {
        flex-direction: column;
    }

}

@media only screen and (max-width: 400px) {
    a.popupBtn.button {
        min-width: 130px;
    }
}

/* media query end  */