/* common css code start  */
.hideScroll,
body.hideScroll {
    overflow: hidden !important;
}

html,
body {
    scroll-behavior: smooth;
}

html.enableScroll,
body.enableScroll {
    overflow: visible !important;
}

.is-width-standard {
    width: 100%;
    margin: 0px auto !important;
    max-width: 100% !important;
    padding: 0 75px !important;
}

.caption.is-justify-center.is-align-center {
    padding: 0 75px !important;
    max-width: 1440px;
    margin: 0px auto;
}

img.boxImg {
    width: 100%;
    height: auto;
    display: block;
}

/* common css code end  */
/* Intro popup css code start  */
.shopify-section.customOpeningPopup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    transition: all ease-out .5s;
    transform: translateY(0);
}

.openingPopupTxtAndBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

a.popupLogoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
}

.openingPopupContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.customOpeningPopupSe {
    width: 100%;
}

.bottomLeftFloatingIcon {
    position: absolute;
}

.bottomLeftFloatingIcon {
    left: 34px;
    position: absolute;
    width: 316px;
    bottom: 54px;
}

.customOpeningPopupSec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

h1.popupHeadingTxt {
    margin-bottom: 40px;
}

.popupBtnsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.popupBtn.button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 190px;
    min-height: 48px;
    max-width: 100%;
    width: max-content;
    margin: 0 15px;
}

.bottomRightFloatingIcon {
    width: 138px;
    position: absolute;
    right: 88px;
    bottom: 60px;
}

.enableScroll .customOpeningPopup {
    transform: translateY(-200%);
}

/* Intro popup css code end  */

/* header css code start  */
.message-header {
    padding: 4px 16px;
}

a.navbar-link.header__link {
    padding: 0;
    margin-right: 64px;
}

nav.header__menu-items .navbar-item.header__item:last-child a.navbar-link {
    margin-right: 0;
}

.navbar-link:not(.is-arrowless):after {
    opacity: 0;
}

.header__icons span.header-cart__icon,
.header__icons a.header__link.action-area__link span.icon.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.header__icons span.icon.header__icon svg {
    width: 100%;
    height: 100%;
}


.header__icons span.header-cart__icon span.icon.header__icon {
    width: 100%;
    height: 100%;
}

.header__icons a.header__link.action-area__link {
    padding-left: 0 !important;
    padding-right: 16px !important;
    flex-direction: row;
}
span.iconTxt {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-right: 8px;
}

/* header css code end  */

/* media query start  */
@media only screen and (max-width: 798px) {
    a.popupLogoLink {
        width: 120px;
        left: 12px;
        top: 12px;
    }

    h1.popupHeadingTxt {
        text-align: center;
        margin-bottom: 34px;
    }

    .openingPopupContainer {
        padding: 29px;
    }

    a.popupBtn.button {
        min-width: 156px;
        margin: 0 8px;
    }

    .bottomLeftFloatingIcon {
        width: 160px;
        left: 10px;
        bottom: 20px;
    }

    .bottomRightFloatingIcon {
        width: 77px;
        right: 28px;
        bottom: 31px;
    }
}

@media only screen and (max-width: 400px) {
    a.popupBtn.button {
        min-width: 130px;
    }
}

/* media query end  */